In [19]:
from sklearn import metrics
import pandas as pd
import datetime as dt
import numpy as np

In [20]:
data=pd.read_csv('problem_2_train.csv')
te=pd.read_csv('problem_2_test.csv')

In [21]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [22]:
data.shape

(6250, 16)

In [23]:
data['g']=data.custpincodecategory.map({'A':1,'B':2,'C':3,'D':2,'0':0})
te['g']=data.custpincodecategory.map({'A':1,'B':2,'C':3,'D':2,'0':0})

In [24]:
a=data.mobmake.unique()

In [7]:
'''def to_integer(y,m,d):
    #y=year
    #m=dt.date.month
    #d=dt.date.day
    i=10000*y + 100*m + d
    return i'''

'def to_integer(y,m,d):\n    #y=year\n    #m=dt.date.month\n    #d=dt.date.day\n    i=10000*y + 100*m + d\n    return i'

In [25]:
data['mp'] = pd.to_datetime(data['mobilepurchasedate'])
data['mc'] = pd.to_datetime(data['memcreateddate'])
data['cd'] = pd.to_datetime(data['claimintdate'])
data['ps'] = pd.to_datetime(data['pickupStartdate'])

In [26]:
te['mp'] = pd.to_datetime(te['mobilepurchasedate'])
te['mc'] = pd.to_datetime(te['memcreateddate'])
te['cd'] = pd.to_datetime(te['claimintdate'])
te['ps'] = pd.to_datetime(te['pickupStartdate'])

In [27]:
data['mp']=10000*data['mp'].apply(lambda x: x.year)+ 100*data['mp'].apply(lambda x: x.month) + data['mp'].apply(lambda x: x.day)
data['mc']=10000*data['mc'].apply(lambda x: x.year)+ 100*data['mc'].apply(lambda x: x.month) + data['mc'].apply(lambda x: x.day)
data['cd']=10000*data['cd'].apply(lambda x: x.year)+ 100*data['cd'].apply(lambda x: x.month) + data['cd'].apply(lambda x: x.day)
data['ps']=10000*data['ps'].apply(lambda x: x.year)+ 100*data['ps'].apply(lambda x: x.month) + data['ps'].apply(lambda x: x.day)

In [28]:
te['mp']=10000*te['mp'].apply(lambda x: x.year)+ 100*te['mp'].apply(lambda x: x.month) + te['mp'].apply(lambda x: x.day)
te['mc']=10000*te['mc'].apply(lambda x: x.year)+ 100*te['mc'].apply(lambda x: x.month) + te['mc'].apply(lambda x: x.day)
te['cd']=10000*te['cd'].apply(lambda x: x.year)+ 100*te['cd'].apply(lambda x: x.month) + te['cd'].apply(lambda x: x.day)
te['ps']=10000*te['ps'].apply(lambda x: x.year)+ 100*te['ps'].apply(lambda x: x.month) + te['ps'].apply(lambda x: x.day)

In [29]:
data.head(1)

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,...,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,g,mp,mc,cd,ps
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,...,2016-12-02,2018-02-08,4403,2018-02-13,5,1,20161202,20170427,20180208,20180213

In [31]:
f=['hubid','g','custpincode','mp','cd','ps','pickuppartnerid','deliverypartnerid','insuranceCompanyId','servicecntrid']
#f=['mobmake','hubid','custpincode','mp','cd','ps','mc']
#f=['srno','hubid','custpincode','pickuppartnerid','deliverypartnerid','insuranceCompanyId',tuple('mobid')]

In [14]:
#data.srno[data.pickuppartnerid != data.deliverypartnerid]

In [32]:
X=data[f]
X1=te[f]

In [34]:
y=data['tat_in_days']

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1,test_size=0.8)

In [75]:
from sklearn.linear_model import LinearRegression

In [87]:
linreg=LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [88]:
print(linreg.intercept_)
print(linreg.coef_)

313286.435658055
[-1.92390098e-03  1.00955547e+00  1.69357182e-06 -3.14492959e-05
 -5.86869599e-03 -9.62249722e-03 -1.20647101e-02 -9.29416493e-03
 -5.83291605e-04 -4.29310418e-03]

In [ ]:
#list(zip(f,linreg.coef_))#

In [89]:
y_pred=linreg.predict(X_test)

In [90]:
from sklearn.metrics import mean_squared_error

In [91]:
np.sqrt(mean_squared_error(y_pred, y_test))

4.80262796014072

In [96]:
te['predict']=linreg.predict(X1)

In [97]:
te['predict'].head(2116)

0       14.361817
1       13.883797
2       13.761774
3       14.856892
4       13.446084
5       13.995536
6       14.207161
7       15.847424
8       11.457115
9       12.547021
10      14.194486
11      11.340038
12      12.325883
13      14.065278
14      13.220688
15      11.941471
16      12.403583
17      11.662786
18       9.871291
19       8.764303
20      14.372919
21      13.226143
22      12.930837
23      14.322396
24      14.606837
25      15.544809
26      14.838769
27      16.319522
28      11.265262
29      13.199319
          ...
2086    10.312484
2087    11.966254
2088    15.432396
2089    12.008958
2090    12.985860
2091    14.135607
2092    15.942604
2093    14.377435
2094    14.488048
2095    14.293084
2096    15.888072
2097    12.455526
2098    11.701746
2099    12.847210
2100    10.431738
2101    12.484679
2102    10.996672
2103    11.747931
2104    12.265725
2105    12.082642
2106    14.915116
2107    14.848036
2108    14.134050
2109    14.698177
2110    13.591524
2111    13.889394
2112    15.364462
2113    14.803080
2114    12.448283
2115    11.970819
Name: predict, Length: 2116, dtype: float64

In [95]:
import csv

In [100]:
np.savetxt('2.csv',te['predict'],delimiter=',')