In [100]:
from sklearn import metrics
import pandas as pd
import datetime as dt
import numpy as np

In [101]:
data=pd.read_csv('problem_2_train.csv')
te=pd.read_csv('problem_2_test.csv')

In [102]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [103]:
data.shape

(6250, 16)

In [321]:
data['g']=data.custpincodecategory.map({'A':1,'B':2,'C':3,'D':2,'0':0})
te['g']=data.custpincodecategory.map({'A':1,'B':2,'C':3,'D':2,'0':0})

In [147]:
a=data.mobmake.unique()

In [105]:
'''def to_integer(y,m,d):
    #y=year
    #m=dt.date.month
    #d=dt.date.day
    i=10000*y + 100*m + d
    return i'''

'def to_integer(y,m,d):\n    #y=year\n    #m=dt.date.month\n    #d=dt.date.day\n    i=10000*y + 100*m + d\n    return i'

In [124]:
data['mp'] = pd.to_datetime(data['mobilepurchasedate'])
data['mc'] = pd.to_datetime(data['memcreateddate'])
data['cd'] = pd.to_datetime(data['claimintdate'])
data['ps'] = pd.to_datetime(data['pickupStartdate'])

In [316]:
te['mp'] = pd.to_datetime(te['mobilepurchasedate'])
te['mc'] = pd.to_datetime(te['memcreateddate'])
te['cd'] = pd.to_datetime(te['claimintdate'])
te['ps'] = pd.to_datetime(te['pickupStartdate'])

In [125]:
data['mp']=10000*data['mp'].apply(lambda x: x.year)+ 100*data['mp'].apply(lambda x: x.month) + data['mp'].apply(lambda x: x.day)
data['mc']=10000*data['mc'].apply(lambda x: x.year)+ 100*data['mc'].apply(lambda x: x.month) + data['mc'].apply(lambda x: x.day)
data['cd']=10000*data['cd'].apply(lambda x: x.year)+ 100*data['cd'].apply(lambda x: x.month) + data['cd'].apply(lambda x: x.day)
data['ps']=10000*data['ps'].apply(lambda x: x.year)+ 100*data['ps'].apply(lambda x: x.month) + data['ps'].apply(lambda x: x.day)

In [318]:
te['mp']=10000*te['mp'].apply(lambda x: x.year)+ 100*te['mp'].apply(lambda x: x.month) + te['mp'].apply(lambda x: x.day)
te['mc']=10000*te['mc'].apply(lambda x: x.year)+ 100*te['mc'].apply(lambda x: x.month) + te['mc'].apply(lambda x: x.day)
te['cd']=10000*te['cd'].apply(lambda x: x.year)+ 100*te['cd'].apply(lambda x: x.month) + te['cd'].apply(lambda x: x.day)
te['ps']=10000*te['ps'].apply(lambda x: x.year)+ 100*te['ps'].apply(lambda x: x.month) + te['ps'].apply(lambda x: x.day)

In [116]:
data.head(1)

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,mp,mc,cd,ps
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,20161202,20170427,20180208,20180213

In [303]:
f=['hubid','g''custpincode','mp','cd','ps','pickuppartnerid','deliverypartnerid','insuranceCompanyId','servicecntrid']
#f=['mobmake','hubid','custpincode','mp','cd','ps','mc']
#f=['srno','hubid','custpincode','pickuppartnerid','deliverypartnerid','insuranceCompanyId',tuple('mobid')]

In [304]:
#data.srno[data.pickuppartnerid != data.deliverypartnerid]

In [322]:
X=data[f]
X1=te[f]

In [307]:
y=data['tat_in_days']

In [308]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [309]:
from sklearn.linear_model import LinearRegression

In [310]:
linreg=LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [311]:
print(linreg.intercept_)
print(linreg.coef_)

218039.3933475539
[-1.12575228e-02  1.12856208e+00  1.10161631e-06 -3.52711797e-05
 -9.48619870e-03 -1.28149401e-03 -8.31808245e-03 -1.06197543e-02
 -3.02280403e-03 -3.84587029e-03]

In [312]:
#list(zip(f,linreg.coef_))#

In [313]:
y_pred=linreg.predict(X_test)

In [314]:
from sklearn.metrics import mean_squared_error

In [315]:
mean_squared_error(y_pred, y_test)

25.72589541037998

In [325]:
te['predict']=linreg.predict(X1)

In [329]:
te['predict'].head(2116)

0       13.462280
1       13.007027
2       12.680049
3       14.110572
4       12.530452
5       13.557841
6       13.958433
7       15.040563
8       11.223251
9       12.218902
10      14.085205
11      11.098903
12      12.153709
13      13.545427
14      12.981257
15      11.631804
16      12.568261
17      11.575972
18      10.128039
19       9.198949
20      13.283668
21      13.007455
22      12.222352
23      14.249578
24      14.592496
25      14.587813
26      14.127485
27      15.450487
28      12.127481
29      12.322983
          ...
2086     9.959363
2087    11.642537
2088    14.444386
2089    12.209695
2090    12.318357
2091    13.150803
2092    15.396125
2093    14.192442
2094    14.133762
2095    14.017936
2096    16.090873
2097    11.875478
2098    11.350545
2099    12.722600
2100    10.576305
2101    13.152933
2102    11.016942
2103    11.562961
2104    12.275590
2105    11.692652
2106    13.982074
2107    14.426994
2108    13.268043
2109    14.513963
2110    13.214395
2111    12.976062
2112    14.732066
2113    13.889903
2114    12.234920
2115    11.912568
Name: predict, Length: 2116, dtype: float64

In [331]:
import csv

In [334]:
h=

with open('2.csv','w') as fi:
    writer=csv.writer(fi,delimiter='|')
    
    writer.write(te)

SyntaxError: invalid syntax (<ipython-input-334-46098a96f8d3>, line 1)

In [337]:
np.savetxt('2.csv',predict,delimiter=',')